/* rr.popupMessage - Classe Auxiliar */
.rrPopupMessageAux {
    border: 4px solid #9393FF; 
    background: #E1E1FF;
}

.rrPopupMessageAux .text {
    color: #6666CC;
    border: 1px solid #9393FF;
    background: #FFFFFF;
}

.rrPopupMessageAux .button {
    color:#6666EE;
    background:#E1E1FF;
    border-right:1px solid #9393FF; 
    border-bottom:1px solid #9393FF;
}
/* rr.popupMessage - Classe Auxiliar FIM */

/* rr.popupFrame - Clase Auxiliar */
.rrPopupFrameAux {
    color: #6666CC;
    background: #E1E1FF;
    border: 3px solid #9393FF;
}
/* rr.popupFrame - Clase Auxiliar FIM */